/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep
/models/*.pkl
/mlruns/
/mlflow.db
/mlartifacts/
/feature_repo/data/
/feature_repo/registry.db
__pycache__/
*.py[cod]
.venv/
venv/
.env
.idea/
.vscode/
.DS_Store
/.dvc/cache
/.dvc/tmp
